---
layout: page
title: Installation
chapter: Getting Started
---

<h1 id="windows">Windows</h1>
<p>Go to <a href="https://floodlight.gitlab.io/download">the Downloads page</a>
and choose the "Windows (Installer.exe)" download option. When the program is
downloaded, run it, and the Installation Guide will walk you through the
process.</p>


<h1  id="macos">macOS</h1>
<p>Go to <a href="https://floodlight.gitlab.io/">Floodlight's website</a> and
choose the "macOS (.zip)" download option. When the file is downloaded, open
it. Drag the extracted application to your "Applications" folder.</p>

<p>The first time you open Floodlight, you should see a message that it is
an application downloaded from the internet. Click "open". You will only see
this message once.</p>


<h1 id="linux">Linux</h1>
<p>First, check your distro's Software app. If Flatpak is preinstalled,
Floodlight might already be listed, and you'll just have to click "Install".
</p>

<p>Otherwise, follow <a href="https://flatpak.org/setup/">Flatpak's setup guide</a>
to install Flatpak for your distro. Then, go to
<a href="https://floodlight.gitlab.io/">Floodlight's website</a> and choose the
"Linux (Flatpak)" download option. Opening the file should launch your Software
app, which will have a button to install Floodlight.</p>

<p>If that doesn't work, launch Terminal and run the following command:</p>
<code>flatpak install flathub io.gitlab.floodlight.Presenter</code>
<p>This will install Floodlight.</p>
