@media (prefers-color-scheme: dark)
  html, body
    background-color: #222
    color: #eee
  a
    color: lightblue
    &:visited
      color: mediumpurple
  .main-container nav.toc
    background-color: #111
