nav.toc
  min-width: 200px
  font-weight: bold

  ol
    list-style-type: none
    padding-left: 1em

  ol>li ol
    font-weight: normal
    margin-bottom: 1em

    li
      margin-bottom: .3em
      margin-top: .3em
      a
        text-decoration: none
        &.current
          font-weight: bold
