/* FONT STYLES */
.monospace {
    font-family: monospace;
}
.bold {
    font-weight: bold
}
.italic {
    font-style: italic;
}
.doublesize {
    font-size: 2em;
}
.halfagainsize {
    font-size: 1.5em;
}


/* MISCELLANEOUS */
.overlay-button {
  min-height: 0px;
  min-width: 0px;
  padding: 0;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0);
}
.overlay-button:hover, .overlay-button:checked {
  background: rgba(0, 0, 0, 0.5);
}


/* DRAG AND DROP HIGLIGHTING */
.drag-hover-top {
    box-shadow: inset 0px 1px #4e9a06;
}
.drag-hover-bottom {
    box-shadow: inset 0px -1px #4e9a06;
}
.drag-hover-end {
    box-shadow: inset -1px 0 #4e9a06;
}
.drag-hover-start {
    box-shadow: inset 1px 0 #4e9a06;
}

/* TWEAKING SOME BACKGROUND COLORS TO MAKE THEM LOOK BETTER */
.slides-view {
    background-color: @theme_base_color;
}
.slides-view-flowbox {
    background-color: @theme_bg_color;
}
.bg-background {
    background-color: @theme_bg_color;
}
.bg-base {
    background-color: @theme_base_color;
}

/* Sets icon colors in the library view. Colors are taken from the Tango
    color palette:
    http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette
*/
.resource-icon-video { color: #75507B; }
.resource-icon-image { color: #EDD400; }
.resource-icon-song { color: #73D216; }
.resource-icon-slideshow { color: #CC0000; }

/* Slide group colors. Taken from the Adwaita icon color palette:
https://developer.gnome.org/hig/stable/icon-design.html.en */
.group-label {
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;

  color: black;
}

.group-label:disabled, .group-label:backdrop,
.group-label-button:disabled, .group-label-button:backdrop,
.group-label label, .group-label label:disabled, .group-label label:backdrop {
  color: black;
}

.group-label-button {
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  border-radius: 18px;
  min-height: 18px;
}
.group-label-button:hover, .group-label-button:checked {
  background: rgba(0, 0, 0, 0.5);
}
.small-button {
  min-height: 0px;
}

