<head>
  <meta charset="utf-8"/>

  <title>{{ page.title | escape }} | {{ page.chapter | escape }} - Floodlight Presenter</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
</head>
