---
layout: page
title: Basics
chapter: Editing Songs
---

<p>To create a new song from scratch, right click the Library pane and choose
"Add-&gt;Song" or "Add-&gt;Slideshow". There is no difference between the two
except the icon. A new tab will open to let you edit the new song.</p>

<p>If you want to go back and edit a song later, right click it in the Library
pane and choose "Edit".</p>

<h1 id="adding-slides">Adding Slides</h1>
<p>To add a new slide, click the "insert" button at the top row of the slideshow
editor tab, then choose "New Slide". Then, in the text box that appears below,
write the lyrics for that slide.</p>

<h2 id="media-slides">Media Slides</h2>
<p>To add a media slide, follow the same steps as above to insert a new slide.
Instead of writing lyrics, though, change the dropdown from "Lyrics" to "Media".
Then click "Select from library" and choose the image or video to display on
the slide.</p>

<p>Or, drag and drop an image or video directly from your Library to the
slideshow in the Slides pane.</p>


<h1 id="quick-edit">Quick Edit</h1>
<p>To quickly edit a single slide, right click it in the Slides pane.</p>

<h1 id="grouping-slides">Grouping Slides</h1>
<p>You can also create groups of slides, such as verses and choruses. This is
helpful for organization. Also, groups can be reused in multiple places in the
song, so you won't have to type the chorus over and over.</p>

<p>To create a new group, click the insert button, like above, but click "New
Group" rather than "New Slide". The group will start with a single slide.</p>

<p>To add a new slide to the group, find the existing slide in the list on the
left. Right click the grey bar to the left of the text box, then choose "New
Slide Before" or "New Slide After". Existing slides cannot be added to a group.
</p>

<p>Note that if you edit a slide in a group, your changes will take effect
everywhere that group is used.</p>

<p>To rename a group, right click the grey bar and choose "Rename". Enter a
name for the group and press Enter. Most common names (such as "Chorus" or "Verse
2") will automatically be assigned a color as well.</p>
